# Flutter/Dart
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.metadata
**/build/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/android/.gradle/
**/android/app/debug
**/android/app/profile
**/android/app/release

# Environment files
mobile/.env
supabase/.env

# IDE
.vscode/
.idea/
*.iml

# Logs
*.log
